<!--<div class="content"><img src="assets/mosaic_background.jpg" width="1680" height="1343" border="0" usemap="#map" /> -->
<div class="image-border"></div>
<div class="row-fluid">
  <div class="sidebar span2">
    <div class="accordion-menu text-center">
      <p class="accordion-header"> Que?</p>

      <p class="accordion-text">TESTTETSTSTSTTSTS</p>

      <p class="accordion-header"> Porque?</p>

      <p class="accordion-text">TETSTSTSTSTSTSTTS</p>

      <p class="accordion-header"> Como?</p>

      <p class="accordion-text">TSTSTSTSTTSTSTSTST</p>
    </div>

    <div id="xbasic-modal-content" class="picture-sidebar text-center">

    </div>

  </div>


  <div class="span10 picture-container">
    <!--<map name="map">

      <area shape="rect" coords="0,0,95,94" data-remote="true" data-type="application/javascript" />
    </map>

   <div class="modal" id="myModal">
     Hello
    </div>
                          -->

    <div class="picture">
      <% @pictures.each do |pic| %>

          <% if pic.isSponsored? %>
              <%= link_to image_tag("tiles/#{pic.filename}", :alt => "Tile", :class => "tile"), pic, :remote => true, :class => "tile-link" %>
          <% else %>
              <%= link_to image_tag("tiles/#{pic.filename}", :alt => "Tile", :class => "tile grayscale"), pic, :remote => true, :class => "tile-link" %>
          <% end %>

      <% end %>
    </div>




  </div>


</div>



