// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/*img {
  width: 100%;
  height: 100%;
} */

.sidebar {
  margin-top: 10px;
}

.picture-sidebar {
  text-align: center;
  margin-left: 5%;
}

img {
  float: left;
  //border: 1px solid green;
  //.rotate( .0001deg );
  //image-rendering: -moz-crisp-edges;
}

input, textarea {
  width: 100%;
}

.grayscale {
  filter: grayscale(100%); /* Current draft standard */
  -webkit-filter: grayscale(100%); /* New WebKit */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  -webkit-filter: grayscale(1); /* Old WebKit */
}

.accordion-header, .accordion-text {

}


.picture {
  border: 1px solid green;
  margin: 0 auto;
}

 //Image hack for Firefox so that the images stay exactly next to each other (without borders between them)
.image-scale-hack {
  transform: rotate( .0001deg );
}

.image-border {
  position: absolute;
  z-index: 20;
}


